@import'https://fonts.googleapis.com/css?family=Oswald:400,700';
@import'https://fonts.googleapis.com/css?family=Montserrat:400,700';

body{
	margin: 0;
	background-image: url(img/bg.png);
	height: 100%;
	width: 100%
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	padding: 0;
	background-attachment: fixed;

}
.container ul{
	list-style-type: none;
	margin-top: auto;
	margin-top: 50px;
	background-image: url(img/logo.jpg);
	background-repeat: no-repeat;
	background-size: cover;

}

.container ul li{
	text-align: center;
	color: white;
	font-size:18px;
	position: relative;
	margin: 50px;
	display: inline-block;
}

h1{
	text-align: center;
	font-family: Monotype Corsiva;
	font-size: 40px;
}


.border{
	background: rgba(171,24,61,.4);
	padding: 40px;
	height: 270px;
	margin-top:65px;
	z-index: 1;
	position: relative;
	text-align:center;
	color: white;

}